<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Preveri FB leak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container">
        <section class="hero">
            <h1>So Facebooku ukradli tudi moje podatke?</h1>
        </section>
        <section class="intro">
            Družbenemu omrežju Facebook so zaradi pomanjkljivega varovanja ukradli osebne podatke 533 milijonov uporabnikov. Med ukradenimi podatki je tudi 110.178 telefonskih številk slovenskih uporabnikov, ki so jih hekerji objavili in dali brezplačno na voljo vsem. 
            Več o tem si preberi na strani <a href="" target="_blank">SI-CERT</a> in v novici <a href="" target="_blank">Business Insiderja</a>. 


            Preveri, ali so bili tudi tvoji FB podatki ukradeni in objavljeni. 

V polje vnesi svojo telefonsko številko (v obliki +386xxxxxxxx ali v lokalni obliki) in iskalnik bo preveril, če so tudi tvoji podatki v ukradeni bazi. 
V primeru, da so, ti bo iskalnik pokazal, kateri so ti podatki.

        </section>
        <section class="form">
            Vpisi telefonsko
            {% if error %}
            {{ error }}
            {% endif %}
            <form method="POST" action="/">
                <input name="phone" type="tel" placeholder="+38631123456" />
                <button type="submit"">Preveri</button>
        </form>
        </section>
        <section class=" result">
                    {% if phone %}
                    <div>
                        Telefon {{ phone }} {{ 'JE' if found else 'NI' }} objavljen.
                        {% if leaked %}
                        <dl>
                            <dt>Ime</dt>
                            <dd> {{ 'DA' if leaked['firstname'] else 'NE' }}</dd>
                            <dt>Priimek</dt>
                            <dd> {{ 'DA' if leaked['lastname'] else 'NE' }}</dd>
                            <dt>Spol</dt>
                            <dd> {{ 'DA' if leaked['sex'] else 'NE' }}</dd>
                            <dt>Kraj</dt>
                            <dd> {{ 'DA' if leaked['town'] else 'NE' }}</dd>
                            <dt>Rojstni kraj</dt>
                            <dd> {{ 'DA' if leaked['hometown'] else 'NE' }}</dd>
                            <dt>Zakonski stan</dt>
                            <dd> {{ 'DA' if leaked['marital_status'] else 'NE' }}</dd>
                            <dt>Sluzba</dt>
                            <dd> {{ 'DA' if leaked['job'] else 'NE' }}</dd>
                            <dt>Datum registracije</dt>
                            <dd> {{ 'DA' if leaked['reg_date'] else 'NE' }}</dd>
                            <dt>E-posta</dt>
                            <dd> {{ 'DA' if leaked['email'] else 'NE' }}</dd>
                            <dt>Datum rojstva</dt>
                            <dd> {{ 'DA' if leaked['dob'] else 'NE' }}</dd>
                        </dl>
                        {% endif %}

                    </div>
                    {% endif %}
        </section>
        <section class="footer">
            Tvojih iskanj ne beležimo. Vnos telefonske številke v nobenem primeru ne bo ogrozil tvoje zasebnosti. Zabeležimo le čas in datum iskanja, v primeru da se številka nahaja v bazi in ste bili prvi, ki ste jo iskali.
        </section>
    </main>
</body>
</html>